.addButton {
  width: 150px;
  height: 32px;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border: none;
  border-radius: var(--border-radius-medium);
}

.addButton:hover {
  transition: 0.3s ease;
  background-color: var(--color-secondary);
}
.addButton:active {
  transition: 0s;
  transform: translateY(2px);
}
