.tabs {
  width: 75%;
  display: flex;
  gap: 5px;
  margin: var(--spacing-large) auto 0 auto;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;

  /* Horizontal scroll on smaller screens */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: var(--color-button);
  border-radius: 4px;
}

.tab {
  background-color: var(--color-list-background);
  color: var(--color-button);
  min-width: 100px;
  border: 2px solid var(--color-button);
  border-bottom: none;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.tab:hover {
  background-color: var(--color-button);
  color: var(--color-list-background);
}

.active {
  background-color: var(--color-button);
  color: var(--color-list-background);
}

@media screen and (max-width: 768px) {
  .tabs {
    width: 90%;
  }
}
