.expenseListContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableScrollWrapper {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  width: 75%;
  margin: 0 auto;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.tableScrollWrapper::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to left, var(--color-background), transparent);
}

.expenseTable {
  background-color: var(--color-list-background);
  width: 100%;
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  border-collapse: collapse;
  position: relative;
}

thead {
  background-color: var(--color-list-background);
  width: 100%;
  padding: var(--spacing-medium) 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.tableHeadRow {
  background-color: var(--color-button);
  color: var(--color-background);
}

th,
td {
  padding: var(--spacing-small);
  border: 1px solid #c5c5c5;
  text-align: left;
  scroll-snap-align: start;
}

.expenseParagraph {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium);
}

@media screen and (max-width: 768px) {
  .tableScrollWrapper {
    width: 90%;
  }

  .expenseTable {
    font-size: var(--font-size-small);
  }
}
