.actionContainer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}
.actionButton {
  background-color: var(--color-button);
  color: var(--color-background);
  min-width: 64px;
  padding: 4px;
  border: none;
  border-radius: var(--border-radius-small);
}
.actionButton:hover {
  background-color: var(--color-hover);
  transition: 0.3s ease;
}
.actionButton:active {
  transform: translateY(2px);
  transition: 0s;
}
