

deleteMessage {
    
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}
.button {
  border: none;
  min-height: 32px;
  padding: 0 var(--spacing-medium);
}

.confirm {
  background-color: #e74c3c;
  color: white;
}
