body {
  font-family: var(--font-family-primary);
  min-width: 340px;
}
.rootContainer {
  background-color: var(--color-background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: var(--spacing-large) 0 0 0; */
}

.heroContainer {
  background-color: var(--color-list-background);
  width: 75%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--spacing-large) 0;
  border-radius: 0 var(--border-radius-large) var(--border-radius-large)
    var(--border-radius-large);
}

@media screen and (max-width: 1120px) {
  .heroContainer {
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  }
}

@media screen and (max-width: 768px) {
  .rootContainer {
    width: 100%;
  }

  .heroContainer {
    width: 90%;
  }
}
